---
title: Home
---

{% assign ordered_pages = site.pages | sort:"title" %}

{% for c in site.category %}
    <h2>{{ c }}</h2>
    {% for a in site.blog %}
        {% if a.type == c %}
        <div class="card-two-column flex-row flex-04">
            <img src="{{ a.thmb }}">
            <div class="card-two-column-details">
                <h3>
                    {{ a.name }}
                </h3>
                <p class="subtitle">Last Updated: {{ a.date | date: "%d-%m-%Y" }}</p>
                <p>{{ a.desc }}</p>
                <div class="divider"></div>
            </div>
            <a href="{{ a.url }}"></a>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}