.card:hover,
.card.active {
    background-color: $colour_accent;
}

.card.active .title {
    color: $colour_link_hover;
}

.card p {
    text-overflow: ellipsis;
    overflow     : hidden;
    white-space  : nowrap;
}