.card:hover {
    background-color: $colour_accent;
}

.card.active {
    background-color: $colour_primary_accent;
}

.card.active .title {
    color: $colour_primary;
}

.card p {
    text-overflow: ellipsis;
    overflow     : hidden;
    white-space  : nowrap;
}