#foot {
    background-color: $colour_foot;
    border-top      : 01px solid $colour_border;
    grid-area       : foot;
    padding-top     : 32px;
    padding-bottom  : 32px;
}

#foot * {
    color: $colour_foot_text;
}

#foot a.active,
#foot a:hover {
    background-color: $colour_foot_accent;
    color           : $colour_foot_text;
}