#submit-button {
    background-color: $colour_primary;
    color           : $colour_primary_text;
    text-align      : center;
    font-size       : 13px;
    font-weight     : bold;
    padding         : 08px;
    cursor          : pointer;
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: $colour_accent;
    border          : none;
    color           : $colour_p;
    font-size       : 13px;
    padding         : 08px;
}