pre {
    padding    : 00px;
    white-space: pre-wrap;
}

pre * {
    overflow-wrap: break-word;
}

code,
code.hljs {
    font-family: Consolas, monaco, monospace;
    font-size  : 14px;
    font-weight: normal;
}

code {
    background-color: $colour_var;
    color           : $colour_var_text;
    padding         : 02px 04px;
}

code.hljs {
    background-color: $colour_code;
    padding         : 16px;
}

pre.diff code {
    display: block;
    padding: 00px;
}

pre.diff code.old {
    background-color: rgb(251, 201, 201);
}

pre.diff code.new {
    background-color: rgb(201, 251, 201);
}