#menu {
    background-color: $colour_menu;
    grid-area       : menu;
}

#menu * {
    color: $colour_menu_text;
}

#menu a.active,
#menu a:hover {
    background-color: $colour_menu_accent;
    color           : $colour_menu_text;
}

#menu a.logo {
    background-color: $colour_menu_text;
    color           : $colour_menu;
    padding         : 00px 08px;
    font-size       : 16px;
}

#menu a.logo:hover {
    background-color: $colour_menu_accent;
    color           : $colour_menu_text;
}