#page {
    display  : grid;
    grid-area: body;
}

#page.one-column,
#page.one-column-no-cell {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas  : "page";
    margin               : 32px 020% 32px 020%;
}

#page.two-column {
    grid-template-columns: minmax(0, 1fr) minmax(0px, 256px);
    grid-template-areas  : "page side";
    margin               : 32px 020% 32px 020%;
}

@media screen and (max-width: 1024px) {
    #page.one-column,
    #page.one-column-no-cell,
    #page.two-column {
        margin: 16px;
    }
}

@media screen and (max-width: 640px) {
    #page.one-column,
    #page.one-column-no-cell,
    #page.two-column {
        grid-template-columns: 01fr;
        grid-template-areas  : "page" "side";
    }
}