table {
    width          : 100%;
    border-collapse: collapse;
    table-layout   : fixed;
}

table td,
table th {
    border       : 01px solid $colour_border;
    text-align   : left;
    padding      : 08px;
    overflow-wrap: break-word;
}

table th {
    border-bottom: 2px solid $colour_primary_text;
}

table tr:hover td {
    background-color: $colour_primary_accent;
    color           : $colour_primary;
    cursor          : pointer;
}

table tr:nth-child(even) {
    background-color: $colour_accent;
}