<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport"            content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title"               content="{{ page.name }}">
<meta name="image"               content="{{ page.thmb | absolute_url }}">
<meta name="description"         content="{{ page.desc }}">
<meta property="og:title"        content="{{ page.name }}">
<meta property="og:image"        content="{{ page.thmb | absolute_url }}">
<meta property="og:description"  content="{{ page.desc }}">
<meta name="twitter:card"        content="summary">
<meta name="twitter:title"       content="{{ page.name }}">
<meta name="twitter:image"       content="{{ page.thmb | absolute_url }}">
<meta name="twitter:description" content="{{ page.desc }}">
<meta name="robots"              content="index, follow">
<link rel="canonical"            href="{{ site.url }}{{ page.url }}" />
<link rel="icon"                 href="/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet"           href="/css/styles.css">
<link rel="stylesheet"           href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">