---
layout: default
js: [jquery.min, highlight.min, highlight]
---

{% for s in page.js %}<script src="/js/{{ s }}.js"></script>{% endfor %}

<div id="page" class="two-column">
    <div class="cell-page">
        <div class="cell flex-16">{% include title.html %}</div>
        <div class="cell blog flex-32">{{ content }}</div>
        <div class="cell flex-16">{% include feedback.html %}</div>
    </div>

    <div class="cell-side">
        <div class="cell flex-04">{% include articles.html %}</div>
    </div>
</div>